<h1><label for="toggleVisibilityStage4">Stage 4 - Higher Education</label><input type="button" title="toggleVisibilityStage4" [value]="isComplete ? 'hide' : 'show'" id="toggleVisibilityStage4" name="toggleVisibilityStage4" (click)="toggleVisibility(!visible)" *ngIf="hasHideButton"/></h1>
<div [hidden]="!visible">
    <p>Select a background for your character.</p>

    <span [class.incomplete]="currentBackgroundIndex === undefined"><form>
        <label for="bkg"><h3>Background</h3></label>
        <select title="background" name="background" id="bkg" [(ngModel)]="currentBackgroundIndex" (change)="currentBackgroundChanged($event)">
            <option hidden disabled selected value [ngValue]="undefined"> -- select an option -- </option>
            <option *ngFor="let bkg of backgrounds" class="opt" [ngValue]="backgrounds.indexOf(bkg)" [disabled]="(currentStartingYear + bkg.Duration) > currentEndingYear">{{ bkg.Name }}</option>
        </select>
    </form></span>

    <div [hidden]="!currentBackground">
        {{ currentBackground ? (currentBackground.Citation | citation) : '' }}

        <h4>Subtotal: {{subtotal}}</h4>
        <app-exp [values]="fixedBackgroundExperience" #exp />

        <ng-container *ngIf="(currentBackground?.Options ?? []).length > 0">
            <span [class.incomplete]="currentBackgroundOptionIndex === undefined"><form>
                <label for="bkgopt"><h3>Option</h3></label>
                <select #opt title="background Option" name="background option" id="bkgopt" [(ngModel)]="currentBackgroundOptionIndex" (change)="currentBackgroundOptionChanged($event)">
                    <option hidden disabled selected value [ngValue]="undefined"> -- select an option -- </option>
                    <option *ngFor="let opt of currentBackground?.Options" class="opt" [ngValue]="currentBackground?.Options?.indexOf(opt)" >{{ opt.Name }}</option>
                </select>
            </form></span>

            <div>
                <h4>{{currengBackgroundOption?.Name}} Subtotal: {{optionSubtotal}}</h4>
                <app-exp [values]="fixedOptionExperience" #optionalexp />
            </div>
        </ng-container>

        <div [hidden]="!currentBackground">
            <app-random-life-event #rle
                [stage]="4"/>
        </div>
    </div>

    <ng-container *ngIf="currentBackground">
        <h3><label for="changeAff">Change affiliation?</label><input type="checkbox" id="changeAff" name="changeAff" [value]="changeAffState" unchecked #changeAff (change)="changeAffChanged($event)"/></h3>
        <p>This decision is optional.  Characters affiliation change will happen at {{affYear}} if elected to do so.<wbr />  For affiliation change rules {{affChangeCitation|citation}}</p>
        <app-newaff #newaff
            *ngIf="changeAffState === 'on'"
            [excludedAffiliations]="exAff"
            [currentYear]="affYear" />
    </ng-container>
</div>
