<ng-template #body let-i>
    <select title="picker" #pickers (change)="onChange($event.target!, i)" [required]="true" 
        [selectedIndex]="this.selectedIndexes[i]">
        <option hidden selected [value]="undefined"> -- select an option -- </option>
        <option *ngFor="let opt of pickerOptions[i]" [value]="opt">{{ opt | stat : labelArgs }}</option>
    </select>
    <span>
        <ng-container *ngIf="extraType(pickedOption[i]) === 'text'">
            <app-star-exp #starChoices
                [assignedIndex]="i"
                [showLabel]="false"
                [showQuantity]="false"
                [exp]="asExp(pickedOption[i]!)"/>
        </ng-container>
        <ng-container *ngIf="extraType(pickedOption[i]) === 'dropdown'">
            <app-or-exp #orChoices
                (choice)="orChoice($event, i, orChoices)"
                [assignedIndex]="i"
                [options]="asOpts(pickedOption[i])"
                [quantity]="quantity"
                [showLabel]="false"
                [showQuantity]="false" />
        </ng-container>
    </span>
    <ng-container *ngIf="showQuantity">
        {{quantity > 0 ? '+' : ''}}{{quantity}} EXP
    </ng-container>
</ng-template>

<ng-template #listloop>
    <ng-container *ngFor="let i of indexes">
        <li>    
            <ng-container *ngTemplateOutlet="body; context: {$implicit: i}" />
        </li>
    </ng-container>
</ng-template>

<ng-container *ngIf="!enlist; else listloop">
    <ng-container *ngFor="let i of indexes">
        <ng-container *ngTemplateOutlet="body; context: {$implicit: i}" />
    </ng-container>
</ng-container>



