<ng-template #body let-i>
    <app-or-exp #pickerChoices
        (choice)="onPickerChoice($event, i)"
        [options]="options"
        [quantity]="quantity"
        [showLabel]="true"
        [showQuantity]="false"
        [disabledOptionIndexes]="disabledIndexes[i]" />
    <span>
        <ng-container *ngIf="extraType(pickedOption[i]) === 'text'">
            <app-star-exp #starChoices
                [assignedIndex]="i"
                [showLabel]="false"
                [showQuantity]="false"
                [exp]="asExp(pickedOption[i]!)" />
        </ng-container>
        <ng-container *ngIf="extraType(pickedOption[i]) === 'dropdown'">
            <app-or-exp #orChoices
                [assignedIndex]="i"
                [options]="cachedSubOptions[i]"
                [quantity]="quantity"
                [showLabel]="false"
                [showQuantity]="false" />
        </ng-container>
    </span>
    <ng-container *ngIf="showQuantity">
        {{quantity > 0 ? '+' : ''}}{{quantity}} EXP
    </ng-container>
</ng-template>

<ng-template #listloop>
    <ng-container *ngFor="let i of indexes">
        <li>    
            <ng-container *ngTemplateOutlet="body; context: {$implicit: i}" />
        </li>
    </ng-container>
</ng-template>

<ng-container *ngIf="!enlist; else listloop">
    <ng-container *ngFor="let i of indexes">
        <ng-container *ngTemplateOutlet="body; context: {$implicit: i}" />
    </ng-container>
</ng-container>



