<div [hidden]="hidden">
    <h1><label for="toggleVisibilityStage1">Stage 1 - Early Childhood</label><input type="button" title="toggleVisibilityStage1" [value]="isComplete ? 'hide' : 'show'" id="toggleVisibilityStage1" name="toggleVisibilityStage1" (click)="toggleVisibility(!visible)" *ngIf="hasHideButton"/></h1>
    <div [hidden]="!visible">
        <p>Select an early childhood background for your character.</p>

        <form>
            <label for="bkg"><h3>Background</h3></label>
            <select title="background" name="background" id="bkg" [(ngModel)]="currentBackgroundIndex" (change)="currentBackgroundChanged($event)">
                <option hidden disabled selected value [ngValue]="undefined"> -- select an option -- </option>
                <option *ngFor="let bkg of backgrounds" class="opt" [ngValue]="backgrounds.indexOf(bkg)">{{ bkg.Name }}</option>
            </select>
        </form>
        
        <div [hidden]="!currentBackground">
            {{ currentBackground?.Citation | citation }}
            <h4>Subtotal: {{subtotal}}</h4>
            <app-exp [values]="fixedBackgroundExperience" #exp />

            <app-random-life-event #rle
                [stage]="1"/>
        </div>

        <ng-container *ngIf="currentBackground">
        <h3><label for="changeAff">Change affiliation?</label><input type="checkbox" id="changeAff" name="changeAff" [value]="changeAffState" unchecked #changeAff (change)="changeAffChanged($event)"/></h3>
        <p>This decision is optional.  Characters affiliation change will happen at {{affYear}} if elected to do so.  For affiliation change rules {{affChangeCitation|citation}}</p>
        <app-newaff #newaff
            *ngIf="changeAffState === 'on'"
            [excludedAffiliations]="exAff"
            [currentYear]="affYear" />
        </ng-container>
    </div>
</div>