<div [hidden]="hidden">
    <h1><input type="button" title="toggleVisibility" [value]="isComplete ? 'hide' : 'show'" id="toggleVisibility" name="toggleVisibility" (click)="toggleVisibility(!visible)" *ngIf="hasHideButton"/>Stage 1 - Early Childhood</h1>
    <div [hidden]="!visible">
        <form>
            <label for="bkg"><h3>Background</h3></label>
            <select title="background" name="background" id="bkg" [(ngModel)]="currentBackgroundIndex" (change)="currentBackgroundChanged($event)">
                <option hidden disabled selected value [ngValue]="undefined"> -- select an option -- </option>
                <option *ngFor="let bkg of backgrounds" class="opt" [ngValue]="backgrounds.indexOf(bkg)">{{ bkg.Name }}</option>
            </select>
        </form>

        <div [hidden]="!currentBackground">
            {{ currentBackground?.Citation | citation }}
            <h4>Subtotal: {{subtotal}}</h4>
            <app-exp [values]="currentBackground?.Experience ?? []" #exp />
        </div>

        <h4><label for="changeAff">Change affiliation?</label><input type="checkbox" id="changeAff" name="changeAff" [value]="changeAffState" unchecked #changeAff (change)="changeAffChanged($event)"/></h4>
        <div *ngIf="changeAffState === 'on'">Characters affiliation change will happen at {{affYearChange}}</div>
        <app-newaff #newaff
            *ngIf="changeAffState === 'on'"
            [excludedAffiliations]="exAff"
            [currentYear]="affYearChange" />
    </div>
</div>