<span *ngIf="trigger">
    <label *ngIf="showLabel" for="compulsion">Compulsion/</label>
    <input id="compulsion" type="text"
        placeholder="fill in a compulsion trigger..." (blur)="compulsionBlur($event)" #compulsionTrigger
        [required]="true" [minLength]="1" />
    <ng-container *ngIf="showQuantity">{{quantity}} EXP</ng-container>
</span>
<span *ngIf="skill">
    <label *ngIf="showLabel" for="skill">{{skillName}}/</label>
    <input id="skill" type="text"
        placeholder="fill in a subskill..." (blur)="subskillBlur($event)" #subskill [required]="true"
        [minLength]="1" />
    <ng-container *ngIf="showQuantity">{{quantity}} EXP</ng-container>
</span>