@if (trigger) {
  <span>
    @if (showLabel) {
      <label for="compulsion">Compulsion/</label>
    }
    <input id="compulsion" type="text"
      placeholder="fill in a compulsion trigger..." (blur)="compulsionBlur($event)" #compulsionTrigger
      [required]="true" [minLength]="1" />
      @if (showQuantity) {
        {{quantity}} EXP
      }
    </span>
  }
  @if (skill) {
    <span>
      @if (showLabel) {
        <label for="skill">{{skillName}}/</label>
      }
      <input id="skill" type="text"
        placeholder="fill in a subskill..." (blur)="subskillBlur($event)" #subskill [required]="true"
        [minLength]="1" />
        @if (showQuantity) {
          {{quantity}} EXP
        }
      </span>
    }