<h1><label for="toggleVisibilityStage3">Stage 3 - Higher Education</label>@if (hasHideButton) {
<input type="button"
  title="toggleVisibilityStage3" [value]="isComplete ? 'hide' : 'show'" id="toggleVisibilityStage3"
  name="toggleVisibilityStage3" (click)="toggleVisibility(!visible)" />
}</h1>
<div [hidden]="!visible">
  <p>Select an education background for your character.</p>

  <span [class.incomplete]="currentBackgroundIndex === undefined">
    <form>
      <label for="bkg">
        <h3>Background</h3>
      </label>
      <select title="background" name="background" id="bkg" [(ngModel)]="currentBackgroundIndex"
        (change)="currentBackgroundChanged($event)">
        <option hidden selected value [ngValue]="undefined"> -- select an option -- </option>
        @for (bkg of backgrounds; track bkg) {
          <option class="opt" [ngValue]="backgrounds.indexOf(bkg)"
            [disabled]="(currentStartingYear + bkg[Basic]!.Duration) > currentEndingYear">{{ bkg.Name }}
          </option>
        }
      </select>
    </form>
  </span>

  <div [hidden]="!currentBackground">
    {{ currentBackground ? (currentBackground.Citation | citation) : '' }}

    <h4>Subtotal: {{subtotal}}</h4>
    <app-exp [values]="fixedBackgroundExperience" #exp />
    <p>Now select the fields for each level of education. For rules {{ EduCitation | citation }}</p>
  </div>
  @if (currentBackground) {
    <div>
      <div [class.incomplete]="basic.selectedIndex === 0">
        <label for="lvl-1">
          <h3>{{eduLvl(Basic)}}</h3>
        </label>
        <select #basic [title]="eduLvl(Basic)+'-1'" [name]="eduLvl(Basic)+'-1'" id="lvl-1"
          [(ngModel)]="educationIndex[Basic]" (change)="EduChanged($event, eduLvl(Basic), Basic)">
          <option hidden selected value [ngValue]="undefined"> -- select an option -- </option>
          @for (edu of EducationFields[Basic]; track edu) {
            <option class="opt"
            [ngValue]="EducationFields[Basic].indexOf(edu)">{{ edu.Name }}</option>
          }
        </select>
      </div>
      <p>This will take {{currentBackground[Basic]?.Duration}} year{{currentBackground[Basic]?.Duration! > 1 ? 's' :
      ''}} to complete.</p>
      <h4>Subtotal: {{fixedBasicExperience.length * 30}}</h4>
      <app-exp [values]="fixedBasicExperience" #firstFieldExp />
      <div [hidden]="!firstFieldExp.isComplete || educationIndex[Basic] === undefined">
        <p>The next field can be either <b>{{eduLvl(Basic)}}</b> or <b>{{eduLvl(Advanced)}}</b><wbr />, or you can finish by selecting
        <b>Complete</b>.
      </p>
      <span [class.incomplete]="nextEdu.selectedIndex === 0">
        <select title="nextEdu" name="nextEdu" id="nextEdu" #nextEdu (change)="update(Advanced)">
          <option hidden selected value [ngValue]="undefined"> -- select an option -- </option>
          @for (next of [Basic, Advanced]; track next) {
            <option class="opt" [ngValue]="eduLvl(next)"
              [disabled]="(currentStartingYear + currentBackground[Basic]!.Duration + currentBackground[next]!.Duration) > currentEndingYear">
            {{eduLvl(next)}}</option>
          }
          <option [ngValue]="'Complete'">Complete</option>
        </select>
      </span>
      <!-- Here is where a user can select a second field -->
      @if (nextEdu.value === eduLvl(Basic)) {
        <div [class.incomplete]="adv1.selectedIndex === 0">
          <select #adv1 title="Basic-2" [name]="eduLvl(Basic)+'-2'" id="lvl-basic-2"
            [(ngModel)]="educationIndex[Advanced]"
            (change)="EduChanged($event, nextEdu.value, Advanced)">
            <option hidden selected value [ngValue]="undefined"> -- select an option -- </option>
            @for (edu of excludeEduOpt(EducationFields[Basic], currentBackground[Basic]!.Options[educationIndex[Basic]!]); track edu) {
              <option
              class="opt" [ngValue]="EducationFields[Basic].indexOf(edu)">{{ edu.Name }}</option>
            }
          </select>
        </div>
        <p>This will take {{currentBackground[Basic]?.Duration}} year{{currentBackground[Basic]?.Duration! > 1 ?
        's' : ''}} to complete.</p>
        <h4>Subtotal: {{fixedAdvExperience.length * 30}}</h4>
        <app-exp [values]="fixedAdvExperience" #secondFieldExp />
        <!-- Here is where a user can select their final advanced field -->
        @if (secondFieldExp.isComplete && adv1.selectedIndex !== 0) {
          <p>The the last field must be <b>{{eduLvl(Advanced)}}</b><wbr />, or you can finish by selecting
          <b>Complete</b>.
        </p>
        <span [class.incomplete]="lastEdu.selectedIndex === 0">
          <select title="lastEdu-1" name="lastEdu-1" id="lastEdu-1" #lastEdu (change)="update(Special)">
            <option hidden selected value [ngValue]="undefined"> -- select an option --
            </option>
            @for (next of [Advanced]; track next) {
              <option class="opt" [ngValue]="eduLvl(next)"
                [disabled]="(currentStartingYear + currentBackground[Basic]!.Duration + currentBackground[next]!.Duration) > currentEndingYear">
              {{eduLvl(next)}}</option>
            }
            <option [ngValue]="'Complete'">Complete</option>
          </select>
        </span>
        @if (lastEdu.value === eduLvl(Advanced)) {
          <div [class.incomplete]="last1.selectedIndex === 0">
            <select #last1 title="Last-Adv-3" [name]="eduLvl(Advanced)+'-3'" id="Last-lvl-3"
              [(ngModel)]="educationIndex[Special]"
              (change)="EduChanged($event, lastEdu.value, Special)">
              <option hidden selected value [ngValue]="undefined"> -- select an option --
              </option>
              @for (edu of EducationFields[Advanced]; track edu) {
                <option class="opt"
                  [ngValue]="EducationFields[Advanced].indexOf(edu)">{{ edu.Name }}
                </option>
              }
            </select>
          </div>
          <p>This will take {{currentBackground[Advanced]?.Duration}}
          year{{currentBackground[Advanced]?.Duration! > 1 ? 's' : ''}} to complete.</p>
          <h4>Subtotal: {{fixedSpecExperience.length * 30}}</h4>
          <app-exp [values]="fixedSpecExperience" #lastFieldExp />
        }
      }
    } @else {
      @if (nextEdu.value === eduLvl(Advanced)) {
        <div [class.incomplete]="adv2.selectedIndex === 0">
          <select #adv2 title="Advanced-2" [name]="eduLvl(Advanced)+'-2'" id="lvl-adv-2"
            [(ngModel)]="educationIndex[asEduLvl(Advanced)]"
            (change)="EduChanged($event, nextEdu.value, Advanced)">
            <option hidden selected value [ngValue]="undefined"> -- select an option --
            </option>
            @for (edu of EducationFields[Advanced]; track edu) {
              <option class="opt"
              [ngValue]="EducationFields[Advanced].indexOf(edu)">{{ edu.Name }}</option>
            }
          </select>
        </div>
        <p>This will take {{currentBackground[Advanced]?.Duration}}
        year{{currentBackground[Advanced]?.Duration! > 1 ? 's' : ''}} to complete.</p>
        <h4>Subtotal: {{fixedAdvExperience.length * 30}}</h4>
        <app-exp [values]="fixedAdvExperience" #secondFieldExp />
        <!-- Here is where a user can select their final advanced field -->
        @if (secondFieldExp.isComplete  && adv2.selectedIndex !== 0) {
          @if (currentBackground[Special]) {
            <p>The last field can be either <b>{{eduLvl(Basic)}}</b> or <b>{{eduLvl(Special)}}</b><wbr />, or you can finish by selecting
            <b>Complete</b>.
          </p>
        } @else {
          <p>The the last field must be <b>{{eduLvl(Basic)}}</b><wbr />, or you can finish by selecting
          <b>Complete</b>.
        </p>
      }
      <select title="lastEdu-2" name="lastEdu-2" id="lastEdu-2" #lastEdu (change)="update(Special)">
        <option hidden selected value [ngValue]="undefined"> -- select an option --
        </option>
        @for (next of (currentBackground[Special] ? [Basic, Special] : [Basic]); track next) {
          <option
            class="opt" [ngValue]="eduLvl(next)"
            [disabled]="(currentStartingYear + currentBackground[Basic]!.Duration + currentBackground[next]!.Duration) > currentEndingYear">
          {{eduLvl(next)}}</option>
        }
        <option [ngValue]="'Complete'">Complete</option>
      </select>
      @if (lastEdu.value === eduLvl(Basic)) {
        <div [class.incomplete]="last1.selectedIndex === 0">
          <select #last1 title="basic-3" [name]="eduLvl(Basic)+'-3'" id="lvl-3-basic"
            [(ngModel)]="educationIndex[asEduLvl(Special)]"
            (change)="EduChanged($event, lastEdu.value, Special)">
            <option hidden selected value [ngValue]="undefined"> -- select an option --
            </option>
            @for (edu of excludeEduOpt(EducationFields[Basic], currentBackground[Basic]!.Options[educationIndex[Basic]!]); track edu) {
              <option
                class="opt" [ngValue]="EducationFields[Basic].indexOf(edu)">{{ edu.Name }}
              </option>
            }
          </select>
        </div>
        <p>This will take {{currentBackground[Basic]?.Duration}}
        year{{currentBackground[Basic]?.Duration! > 1 ? 's' : ''}} to complete.</p>
        <h4>Subtotal: {{fixedSpecExperience.length * 30}}</h4>
        <app-exp [values]="fixedSpecExperience" #lastFieldExp />
      }
      @if (lastEdu.value === eduLvl(Special)) {
        <div [class.incomplete]="last1.selectedIndex === 0">
          <select #last1 title="spec-3" [name]="eduLvl(Special)+'-3'" id="lvl-3"
            [(ngModel)]="educationIndex[asEduLvl(Special)]"
            (change)="EduChanged($event, lastEdu.value, Special)">
            <option hidden selected value [ngValue]="undefined"> -- select an option --
            </option>
            @for (edu of EducationFields[Special]; track edu) {
              <option class="opt"
                [ngValue]="EducationFields[Special].indexOf(edu)">{{ edu.Name }}
              </option>
            }
          </select>
        </div>
        <p>This will take {{currentBackground[Special]?.Duration}}
        year{{currentBackground[Special]?.Duration! > 1 ? 's' : ''}} to complete.</p>
        <h4>Subtotal: {{fixedSpecExperience.length * 30}}</h4>
        <app-exp [values]="fixedSpecExperience" #lastFieldExp />
      }
    }
  }
}
<!-- Here is where a user can select a second field -->
</div>
</div>
}

<div [hidden]="!currentBackground">
  <app-random-life-event #rle [stage]="3" />
</div>

@if (currentBackground) {
  <h3><label for="changeAff">Change affiliation?</label><input type="checkbox" id="changeAff" name="changeAff"
[value]="changeAffState" unchecked #changeAff (change)="changeAffChanged($event)" /></h3>
<p>This decision is optional. Characters affiliation change will happen at {{affYear}} if elected to do so.<wbr />  For affiliation change rules {{affChangeCitation|citation}}
</p>
@if (changeAffState === 'on') {
  <app-newaff #newaff [excludedAffiliations]="exAff" [currentYear]="affYear" />
}
}
</div>