<h1><label for="toggleVisibilityStage0">Stage 0 - Introduction</label><input type="button" title="toggleVisibilityStage0" [value]="isComplete ? 'hide' : 'show'" id="toggleVisibilityStage0" name="toggleVisibilityStage0" (click)="toggleVisibility(!visible)" *ngIf="hasHideButton"/></h1> 
<div [hidden]="!visible">
    <p>We only want to show options for what affiliations a player can selected based on what they could have been born into in the year {{startingYear}}</p>

    <app-stage0-default-exp #default />

    <ul *ngIf="currentAffiliation" [class.incomplete]="langsel.selectedIndex === 0">
        <li class="lang">
            Language/<app-or-exp #langsel
                [options]="languages"
                [quantity]="20"
                [showLabel]="false"/>
        </li>
    </ul>

    <app-newaff #aff
        [currentYear]="startingYear"/>
</div>