<div class="underconstruction">
  @if (!character) {
    <div>
      <label for="newchar">New</label><input type="button" value="+" id="newchar" name="newchar" (click)="Start()" />
    </div>
  }
  @if (character) {
    <div>
      <label for="savchar">Save</label><input type="button" value="..." id="savchar" name="savchar" (click)="Save()" />
    </div>
  }
  <div>
    <label for="oldchar">Load</label><input type="file" id="oldchar" name="oldchar" (change)="Load($event)" />
  </div>
</div>

@if (character) {
  <app-character #char
    [character] = "character">
  </app-character>
}