<ul>
    <ng-container *ngFor="let exp of values">
        <li *ngIf="isOr(exp); let or">
            <app-or-exp #orChoices
                [options]="or ?? []"
                [quantity]="exp.Quantity" />
        </li>
        <li *ngIf="isStar(exp)">
            <app-star-exp #starChoices
                [exp]="exp"/>
        </li>
        <ng-container *ngIf="isPick(exp); let pick">
            <app-pick-exp #pickChoices
                [count]="pick!.Count"
                [options]="pick!.Options"
                [quantity]="pick!.Quantity"/>
        </ng-container>
        <li *ngIf="isStd(exp)">
            {{ exp | exp }}
        </li>
    </ng-container>
</ul>