<h3>Random Life Event</h3>
<span>The current roll is {{currentRoll}}.  You have re-rolled {{rerollCount}} times.</span>
<h4>Outcome: {{outcome.Severity}}</h4>
<div>
    At this stage you have {{outcome.Experience[stage] >= 0 ? '+' : ''}}{{outcome.Experience[stage]}} EXP to allocate.
    <ng-container *ngIf="outcome.Denominator">
        At least 1/{{outcome.Denominator}} rounded up must be spend on Attributes and/or Traits.
    </ng-container>
    <wbr />For table {{citation | citation}}
</div>
<div [class.incomplete]="!acceptance">
    <label for="accept">Accept this outcome?</label>
    <input type="checkbox" id="accept" name="accept" [value]="acceptance" unchecked #accept (click)="acceptRoll($event)" />
    <input type="button" value="reroll" title="reroll" id="reroll" name="reroll" (click)="reroll()" [disabled]="acceptance"/>
</div>
<div *ngIf="acceptance">
    <div *ngIf="outcome.Denominator; else elseBlock">
        <h4>Attribute/Trait allocation total: {{round(outcome.Experience[stage], outcome.Denominator)}}</h4>
        <ul>
            <app-set-exp #setExp
                [limit]="round(outcome.Experience[stage], outcome.Denominator)"
                [options]="traitAndAttStats"
                [enlist]="true" />
        </ul>
        <h4>Free allocation total: {{outcome.Experience[stage] - round(outcome.Experience[stage], outcome.Denominator)}}</h4>
        <ul>
            <app-set-exp #setExp
                [limit]="outcome.Experience[stage] - round(outcome.Experience[stage], outcome.Denominator)"
                [options]="anyStats"
                [enlist]="true" />
        </ul>
    </div>
    <ng-template #elseBlock>
        <h4>Free allocation total: {{outcome.Experience[stage]}}</h4>
        <ng-container *ngIf="outcome.Experience[stage] !== 0">
            <ul>
            <app-set-exp #setExp
                [limit]="outcome.Experience[stage]"
                [options]="anyStats"
                [enlist]="true" />
            </ul>
        </ng-container>
        <span *ngIf="outcome.Experience[stage] === 0">
            Because this outcome has zero exp you have nothing else to do here.
        </span>
    </ng-template>
</div>
<div *ngIf="!acceptance">
    If your GM allows for rerolls and you are happy with the outcome check the box to being allocating experience.
</div>